:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-win: #73D95F;
    --color-los: #E52828;
    --color-yellow: #FFD000;
    --color-yellow-light: #ffd00091;
    --color-blue: #4e54c8;
    --color-artic-blue: #003057;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-steel-100: #F0F3F6;
    --color-steel-200: #E5E8ED;
    --color-steel-300: #D3D8DD;
    --color-steel-400: #BDC4CA;
    --color-steel-500: #9EA4AB;
    --color-steel-600: #888E94;
    --color-steel-700: #6B7278;
    --color-steel-800: #51585D;
    --color-steel-900: #3A4046;
    --color-dark-grey: #353535;
    --color-info: #57cafb;
    --color-success: #43A017;
    --color-success-light: #73D95F;
    --color-error: #E52828;
    --color-warning: #fc9803;
    --color-error-light: #FF7070;
    --color-clay-light: #F89939;
    --color-clay: #EB6F24;
    --color-clay-dark: #B0542E;
    --color-terra-light: #D1B795;
    --color-terra: #AA8D6D;
    --color-terra-dark: #72452e;
    --color-ruby-light: #F56E7C;
    --color-ruby: #E34858;
    --color-ruby-dark: #AD0B37;
    --color-leaf-light: #5DBF90;
    --color-leaf: hsl(156, 57%, 42%);
    --color-leaf-dark: #33825E;
    --color-slate-light: #8BB2C2;
    --color-slate: #5789A4;
    --color-slate-dark: #3B6579;
    --color-selceted-issue: #3A4046;
    --color-board-background: #ffe29a;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

html {
    height: 100vh;
}

.app {
    height: 100vh;
}

main {
    height: 100vh;
}

.bgc-primary {
    background-color: var(--color-blue);
}

.bgc-secondary {
    background-color: var(--color-dark-grey);
}

.c-text {
    color: var(--color-white);
}

.round-img {
    border-radius: 50%;
}

.text-ovf {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-border {
    border-color: var(--color-dark-grey);
    border-radius: 7px;
}

.card-body {
    padding-left: 10px;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

hr {
    border: 1px var(--color-blue) solid;
}